--
-- PostgreSQL database dump
--

\restrict rbsmEiEL2voaKbkfd2jCbxQzVd8xwQ1ynU31qzR7HKd0besTNXkDdjvBbvHi140

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg12+1)
-- Dumped by pg_dump version 16.12

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: barbershop_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO barbershop_user;

--
-- Name: btree_gist; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS btree_gist WITH SCHEMA public;


--
-- Name: EXTENSION btree_gist; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION btree_gist IS 'support for indexing common datatypes in GiST';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: appointments; Type: TABLE; Schema: public; Owner: barbershop_user
--

CREATE TABLE public.appointments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid NOT NULL,
    professional_id uuid NOT NULL,
    service_id uuid NOT NULL,
    date date NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    service_name_snapshot character varying(150) NOT NULL,
    service_price_snapshot numeric(10,2) NOT NULL,
    service_duration_snapshot integer NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    timespan tsrange GENERATED ALWAYS AS (tsrange((date + start_time), (date + end_time))) STORED,
    client_id uuid NOT NULL,
    notified_at timestamp without time zone,
    CONSTRAINT appointments_duration_match_check CHECK ((((EXTRACT(epoch FROM (end_time - start_time)) / (60)::numeric))::integer = service_duration_snapshot)),
    CONSTRAINT appointments_service_duration_snapshot_check CHECK ((service_duration_snapshot > 0)),
    CONSTRAINT appointments_service_price_snapshot_check CHECK ((service_price_snapshot >= (0)::numeric)),
    CONSTRAINT appointments_time_order_check CHECK ((end_time > start_time))
);


ALTER TABLE public.appointments OWNER TO barbershop_user;

--
-- Name: clients; Type: TABLE; Schema: public; Owner: barbershop_user
--

CREATE TABLE public.clients (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid NOT NULL,
    name text NOT NULL,
    phone text NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_active boolean DEFAULT true
);


ALTER TABLE public.clients OWNER TO barbershop_user;

--
-- Name: companies; Type: TABLE; Schema: public; Owner: barbershop_user
--

CREATE TABLE public.companies (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    appointment_buffer_minutes integer DEFAULT 0,
    lunch_start_time time without time zone,
    lunch_end_time time without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'active'::character varying NOT NULL,
    subscription_ends_at timestamp without time zone,
    slot_interval_minutes integer DEFAULT 30 NOT NULL,
    slug character varying(100) NOT NULL,
    phone text,
    seller_name text,
    address_street text,
    address_number text,
    address_neighborhood text,
    address_city text,
    address_state text,
    CONSTRAINT companies_appointment_buffer_minutes_check CHECK ((appointment_buffer_minutes >= 0)),
    CONSTRAINT companies_lunch_time_check CHECK ((((lunch_start_time IS NULL) AND (lunch_end_time IS NULL)) OR ((lunch_start_time IS NOT NULL) AND (lunch_end_time IS NOT NULL) AND (lunch_start_time < lunch_end_time)))),
    CONSTRAINT companies_slot_interval_check CHECK (((slot_interval_minutes > 0) AND (slot_interval_minutes <= 240))),
    CONSTRAINT companies_status_check CHECK (((status)::text = ANY (ARRAY[('active'::character varying)::text, ('inactive'::character varying)::text])))
);


ALTER TABLE public.companies OWNER TO barbershop_user;

--
-- Name: company_business_hours; Type: TABLE; Schema: public; Owner: barbershop_user
--

CREATE TABLE public.company_business_hours (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid NOT NULL,
    weekday integer NOT NULL,
    start_time time without time zone NOT NULL,
    end_time time without time zone NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    CONSTRAINT company_business_hours_check CHECK ((start_time < end_time)),
    CONSTRAINT company_business_hours_day_of_week_check CHECK (((weekday >= 0) AND (weekday <= 6)))
);


ALTER TABLE public.company_business_hours OWNER TO barbershop_user;

--
-- Name: professional_services; Type: TABLE; Schema: public; Owner: barbershop_user
--

CREATE TABLE public.professional_services (
    company_id uuid NOT NULL,
    professional_id uuid NOT NULL,
    service_id uuid NOT NULL,
    custom_price numeric(10,2)
);


ALTER TABLE public.professional_services OWNER TO barbershop_user;

--
-- Name: professionals; Type: TABLE; Schema: public; Owner: barbershop_user
--

CREATE TABLE public.professionals (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid NOT NULL,
    user_id uuid NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    photo_url text,
    slug character varying(100) NOT NULL
);


ALTER TABLE public.professionals OWNER TO barbershop_user;

--
-- Name: schedule_blocks; Type: TABLE; Schema: public; Owner: barbershop_user
--

CREATE TABLE public.schedule_blocks (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid NOT NULL,
    professional_id uuid,
    start_date date,
    end_date date,
    start_time time without time zone,
    end_time time without time zone,
    reason text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    mode text,
    recurring_days integer[],
    valid_from date,
    valid_to date,
    time_scope text NOT NULL,
    weekdays integer[],
    CONSTRAINT schedule_blocks_check1 CHECK ((((start_time IS NULL) AND (end_time IS NULL)) OR ((start_time IS NOT NULL) AND (end_time IS NOT NULL) AND (start_time < end_time)))),
    CONSTRAINT schedule_blocks_mode_check CHECK ((mode = ANY (ARRAY['single'::text, 'recurring'::text]))),
    CONSTRAINT schedule_blocks_mode_logic_check CHECK ((((mode = 'single'::text) AND (start_date IS NOT NULL) AND (end_date IS NOT NULL)) OR ((mode = 'recurring'::text) AND (recurring_days IS NOT NULL))))
);


ALTER TABLE public.schedule_blocks OWNER TO barbershop_user;

--
-- Name: services; Type: TABLE; Schema: public; Owner: barbershop_user
--

CREATE TABLE public.services (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid NOT NULL,
    name character varying(150) NOT NULL,
    base_price numeric(10,2) NOT NULL,
    duration_minutes integer NOT NULL,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    slug character varying(150) NOT NULL,
    CONSTRAINT services_duration_minutes_check CHECK ((duration_minutes > 0)),
    CONSTRAINT services_price_check CHECK ((base_price >= (0)::numeric))
);


ALTER TABLE public.services OWNER TO barbershop_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: barbershop_user
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    company_id uuid,
    name text NOT NULL,
    username text NOT NULL,
    password_hash text NOT NULL,
    is_company_admin boolean DEFAULT false,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


